@import './tracks';
@import './header';
@import './ablums';
@import './player';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
    color: #b3b3b3 !important;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #121212 !important;
}

p {
    margin: 0px;
    margin-bottom: 0px !important;
}
